@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 16px;
}

/* global style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  color: #282938;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 4.625rem;
  margin-bottom: 1.9375rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
}
h3 {
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

h6 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}
.label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
}
section {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.container {
  max-width: 1280px;
  width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
}
/* navbar */
.navbar {
  background-color: #1c1e53;
}
.navbar__logo {
  padding: 2.0625rem 0;
}
.navbar__link a {
  color: #bbbbcb;
  padding: 0 1rem;
}

.navbar__btn {
  color: #ffff;
  border: solid 2px #f4f6fc33;
  border-radius: 2.5625rem;
  padding: 1rem 3rem;
  margin: 1rem 0 1rem 2rem;
  background: none;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
}
a.active {
  color: #ffff;
}
.navbar__menu {
  display: none;
}
.navbar__menu img {
  max-width: 40px;
  width: 90%;
}
/* Banner  section */
.banner {
  padding-top: 6rem;
}
.banner__image {
  width: 42.74%;
}

.banner__content {
  width: 46.49%;
}
.banner__paragraph {
  width: 81.35%;
}

/* Goal section */
.gery {
  background-color: #f4f5f5;
}
.goal {
  padding-top: 0;
  padding-bottom: 0;
}

.goal__content {
  width: 47.16%;
}
.goal .label {
  margin-bottom: 4px;
}
.goal__contents {
  padding: 5rem 6.8125rem 5rem 4.9375rem;
}
.goal__image {
  width: 100%;
}
/* Process section */

.process__header {
  text-align: center;
  margin-bottom: 3rem;
}
.process__image {
  margin-bottom: 1.625rem;
  width: 92%;
}
.process h6 {
  margin-bottom: 0.5rem;
}
.process__divs {
  width: 100%;
}
.process__div {
  width: 23.13%;
}
/* Prespective section */
.prespective {
  background-color: #eef4fa;
}
.prespective .label {
  margin-bottom: 1rem;
}

.vision {
  padding-top: 6rem;
}
.mession__content,
.vision__content {
  width: 48.68%;
}
.mession__image,
.vision__image {
  width: 40.24%;
}

/* Benifite section */

.benifits__header {
  margin: auto;
  text-align: center;
  width: 49.22%;
  margin-bottom: 3.0625rem;
}

.benifits__image {
  width: 2rem;
}
.benifits__logo {
  width: 8.5rem;
}
.benifits__div {
  background-color: #f4f6fc;
  width: 31.648%;
  padding: 3.125rem 2.038rem 3rem 3.0193rem;
}

.benifits__div h6 {
  margin-bottom: 0.75rem;
  margin-top: 1.25rem;
}
.benefits__users h3 {
  margin: 0;
}
.benefits__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.benefits__logos ul {
  display: flex;
  justify-content: space-between;
  width: 79.3%;
}

/* Team section  */

.team {
  background-color: #f4f6fc;
}

.team__header {
  text-align: center;
  padding-bottom: 3rem;
}

.team__div {
  background-color: #ffff;
  text-align: center;
  width: 23.13%;
  padding-top: 3rem;
  padding-bottom: 1.9375rem;
}
.team__div h6 {
  padding-top: 1.6875rem;
}
.team__image {
  width: 56.8%;
  margin: auto;

  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.team__image img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.team__image .overlay {
  background: linear-gradient(
    348.37deg,
    #5239fa 17.97%,
    rgba(255, 255, 255, 0) 79.2%
  );

  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.team__image:hover .overlay {
  opacity: 1;
}
.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 28px;
}

.social-icons i {
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/* Footer section */

.footer {
  background-color: #1c1e53;
}
.footer__content {
  padding-top: 6rem;
}
.footer__content p {
  color: #f4f6fc;
}
.footer__content h2 {
  color: #f4f6fc;
}

.footer__divs {
  width: 82.66%;
  display: flex;
  justify-content: space-between;
}
.footer__div {
  width: 37.72%;
}
.footer__icons {
  width: 37%;
  margin-top: 1.75rem;
  gap: 1.66rem;
}
.footer__icons i {
  color: #fff;
  font-size: 1rem;
}
.footer__logo {
  width: 10rem;
}
.footer__div h2 {
  margin-bottom: 0.875rem;
}
.footer__paragraph {
  margin-top: 1.4375rem;
  color: #fff;
}
.footer__contacts {
  background-color: #fcd980;
  color: #1c1e53;
  width: 40.4%;
  padding: 17px 8.5rem 1rem 2.25rem;
}

.navfooter__wrapper {
  padding: 32px 0;
}
.navfooter__links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.navfooter__link a {
  color: #282938;
  font-weight: 500;
  line-height: 28px;
}
@media (max-width: 1500px) {
  .footer__contacts {
    margin-top: 1rem;
    padding: 1rem;
  }
}
@media (max-width: 1230px) {
  .navbar__links {
    display: none;
  }
  .navbar__menu {
    display: block;
  }
  .footer__contacts {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
  .banner__content {
    width: 100%;
    text-align: center;
  }
  .banner__paragraph {
    width: 100%;
  }
  .banner__image {
    width: 100%;
    margin-top: 1rem;
  }
  .goal__contents {
    padding: 2rem;
  }
  .goal__content {
    margin-top: 3rem;
    width: 100%;
  }
  .process__div {
    width: 50%;
    margin-top: 2rem;
  }
  /*prespective section*/
  .vision__content,
  .mession__content {
    width: 100%;
  }
  .mession__image,
  .vision__image {
    width: 100%;
    margin-top: 1rem;
  }

  .vision {
    display: flex;
    flex-direction: column-reverse;
  }
  .team__div {
    background-color: #ffff;
    text-align: center;
    padding-top: 2rem;
    width: 49%;
    margin-bottom: 1rem;
  }
  /*benifits section*/
  .benifits__header {
    margin: auto;
    text-align: center;
    width: 90%;
    margin-bottom: 3.0625rem;
  }
  .benifits__divs {
    display: block;
  }

  .benifits__div {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .benefits__users {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
  .benefits__logos ul {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
  /*footer*/
  .footer__contacts {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .navfooter__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .navfooter__links {
    width: 100%;
  }
  .footer__divs {
    width: 100%;
    flex-direction: column;
  }
  .footer__div {
    margin-top: 1rem;
    width: 90%;
  }
}
@media (max-width: 540px) {
  :root {
    font-size: 12px;
  }
}
